.root{
    max-width: none;
    min-width: none;
    padding-left: 200px;
    padding-right:200px;
    /* background-color:rgb(3, 3, 33); */
    /* background: linear-gradient( #8276b6, #afc8d7); */
}

.gem-form{
    /* text-align: center; */
}

.username-password-input{
    display: table;
    flex-direction:row;
    padding-inline-end: 20px;
    padding-inline-start: 20px;
    padding-block: 20px;
    /* display:flex; */
    /* align-items: center; */
    /* text-align: center; */
    /* justify-content: space-between; */
    /* padding-left: 250px; */
    border: 2px solid rgb(85, 11, 245);
    background-color: #060119;
    /* background: linear-gradient( #8276b6, #afc8d7); */

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    /* margin-bottom: 20px; */
}


.topic-gem-input {
    /* display: table; */
    /* flex-direction:row; */
    /* border: 2px solid rgb(87, 15, 255); */
    background-color: #060119;
    /* background: linear-gradient( #8276b6, #afc8d7); */
    /* border-radius: 90px; */
    border: 9px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* margin-bottom: 100px; */
    /* text-align: center; */
}

.topic-gem-input, p {
    font-size: 15pt;
    /* text-align: center; */
    margin-bottom: 5px;
    margin: auto;
}

.topic-gem-input, textarea{
    
}

/* GEM INPUT */
#gem-input-comment{
    width: 100%;
    height: 100px;
    /* margin: auto; */
    /* box-sizing: border-box; */
    overflow: hidden;
    white-space: wrap;
    border-radius: 2px;
    /* text-overflow: ellipsis; */
    font-size: 15px;
    padding-bottom: 15px ;

    
}
#create-gem-button:hover  {
    /* border: 2px solid rgb(87, 15, 255); */
    /* background-color: #060119;
    /* border-radius: 10px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* overflow: hidden;  */
    /* background-color: #092021; */
    /* background-color: #3e7f81;
    border: 2px solid #3e7f81; */
    /* border: 2px solid #011f20;;
    background-color: #011f20;
    color: whitesmoke; */
    background-color: #2e465f;
    border: 2px solid #2e465f;
    color: whitesmoke(3, 3, 33) ;

    /* box-sizing: border-box; */
}

#create-gem-button{
    /* border: 2px solid #011f20;
    background-color: #011f20; */
    border: 2px solid #060119;;
    background-color: #060119;
    color: whitesmoke;
    /* background-color: lightblue;
    border: 2px solid lightblue;
    color: rgb(3, 3, 33) ; */
    /* background-color: #092021; */
    font-weight: bolder;
    border-radius:10px;
    
    width: 200px;
    height: 40px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* overflow: hidden; */
}


/* Gem Render container */
.gem-render{
    /* border: 2px solid rgb(87, 15, 255); */
    border-radius:10px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    /* padding: 10px; */
    /* max-width: 700px; */
    /* display:flex; */
    /* background-color: rgb(3, 3, 33); */
    /* background-color: rgb(143, 162, 203); */
    /* background: linear-gradient( #8276b6, #afc8d7); */
    /* background: linear-gradient( #afc8d7, #8276b6); */
    background-color: #2e465f;

}

.gem-container-content{
    padding-right:2px;
    padding-left:2px;
}

/* USERNAME */
.gem-render-username-password-div{
    /* border: 2px solid  rgb(87, 15, 255); */
    border-radius:2px;
    /* background-color: rgb(3, 3, 33); */
    /* background-color: whitesmoke; */
    /* border-radius:100px; */
    border-radius: 10pt;
    font-family:monospace;
    font-size: 13pt;
    font-weight:900;
    /* text-transform: lowercase; */
    letter-spacing: 1px;
    padding-top: 10px;
    /* word-spacing: 2px; */
    /* background-color: rgb(125, 11, 11); */

}

.gem-render-username-password-div, p{
    text-align: left;
    /* padding-left:20px; */
}


.gem-render-username-password-div, h3{
    text-align: center;
    padding-left:20px;
    padding-top: 10px;
    color: rgb(179, 179, 206);
    font-weight: bolder;

}

.gem-render-username-password-div, p{
    text-align: left;
    padding-left:20px;
}

/* paragraph background for gem */
.gem-render-topic-gem-div{
    border: 2px solid whitesmoke;
    background-color: #060119;
    /* background-color: "whitesmoke"; */
    /* border-radius:10px; */
    /* color:rgb(171, 11, 11); */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.5px;
    word-spacing: 2px;
}

.gem-render-delete-div{
    padding-top: 10px;
    padding-bottom: 10px;
}

.boxes{
    /* padding-block:20px; */
    display: flex;
    justify-content: space-around;
}

.card-content-dua, p{
    margin: auto;
    text-align: center;
    word-spacing: 4px;
    color: rgb(179, 179, 206);
    font-size:11pt;
    padding-bottom: 10px;
}

.card-content-dua, h2{
    color: rgb(37, 137, 225);
   
}

.send-button:hover{
    background-color: #2e465f;
    border: 2px solid #2e465f;
    color: whitesmoke(3, 3, 33) ;
    width: 100px;
    border-radius:5px;
    transition-duration: 0.2s;

}

.send-button{
    border: 2px solid #060119;;
    background-color: #060119;
    color: whitesmoke;
    width: 100px;
    border-radius:5px;


}