
.logo{
    display: flex;
}

li, a, button {
    font-family: monospace;
    font-weight: 500;
    color:rgb(177, 189, 199)
}

/* header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
} */

.logo {
    /* cursor: pointer; */
}

#navBar{
    list-style:none;

}

#navBar li{
    display:inline-block;
    padding: 0px 20px;
}

#navBar li a {
    transition: all 0.3s ease 0s;
}

#navBar li a:hover{
    color: aqua;
}

/* button{
    padding: 9px 25px;
    background-color:rgba(0,136, 169, 1);
    border:none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;;
} */

button:hover{
    /* background-color:rgba(0,136, 169, 0.8); */
  
  }

  nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: black;  
    padding: 13px 475px;
    /* box-shadow: 0 5px 15px rgba(0,0,0, 0.06); */
  } 
  

#navbar li a:hover,
#navbar li a.active {
    color: aquamarine;
}
  #navbar li a:hover::after,
  #navbar li a.active::after{
      content: "";
      width: 30%;
      height:2px;
      background-color: aquamarine;
      position: absolute;
      bottom: -4px;
      left: 20px;
  }


  