

#root {
  max-width:max-content;
  /* margin: 0 auto; */
  /* makes everything centered */
  text-align: center;
  background-color: rgb(211, 211, 235);
  /* background-color: rgb(1, 6, 15); */
  /* background-color: rgb(150, 172, 213); */
  /* background-color: rgb(102, 112, 132); */


  
}


